.container {
    display: flex;
    justify-content: space-between;
}

.options {
    flex: 1;
    padding-right: 20px; /* Afstand tussen de opties en de kaart */
}

.map {
    flex: 2;
}

.options .geonaam-selector,
.options .activiteiten-soort,
.options .taal-opties,
.options .digitaal-opties {
    display: block;
    margin-bottom: 20px; /* Ruimte tussen groepen checkboxes */
}

.taal-opties, .digitaal-opties {
    display: none; /* Verbergt de taal en digitaal niveau checkboxes initieel */
}
