* {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.options {
    width: 33%;
 

    padding: 20px; 
    margin-right: 10px;
}

.map {
    width: 67%;

    padding: 20px;
}

.geonaam-selector, .activiteiten-soort, .taal-opties, .digitaal-opties {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.container > div {
    margin: 20px;
}

.options {
    background-color: rgba(0,100,200,1);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}
.option-section {
    flex: 1;
}

.postcode-search {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

input[type="checkbox"] {
    border: 1px solid rgba(0,100,200,1);
    margin-right: 10px;
}
input[type="checkbox"]:hover {
    background-color: rgba(0,100,200,1);
}
input[type="checkbox"]:checked {
    background-color: white;
    border: 1px solid white;
}
