body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; 
}

.selectors {
  display: flex;
  flex-direction: row;
  width: 33.333%;
  padding: 20px;
  overflow-y: auto;
}

.areas-column,
.skills-column {
  display: flex;
  flex-direction: column;
  flex: 1; 
  margin-right: 10px;
}

.areas-column:last-child,
.skills-column:last-child {
  margin-right: 0;
}

.areas-column label,
.skills-column label {
  display: block; 
  margin-bottom: 5px;
}

.areas-column input[type="checkbox"],
.skills-column input[type="checkbox"] {
  margin-right: 10px; 
  vertical-align: middle; 
}

.map {
  flex: 2; 
  padding: 20px;
}

#map-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#generated-url-container {
  width: 90%; 
  padding: 20px;
 }

#generated-url {
  white-space: pre-wrap; 
  word-break: break-all; 
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .selectors, .map {
    width: 100%;
    padding: 10px;
  }
}
