body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.selectors {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selector-group {
  flex: 1 1 150px; /* Elke selector-groep zal minimaal 150px breed zijn */
  margin-right: 20px;
}

.map {
  flex: 1 1 100%; /* Zal standaard de volledige breedte innemen */
  height: 400px; /* Stel een minimum hoogte in */
}

#map-frame {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

/* Responsieve lay-out */
@media (min-width: 768px) {
  .selectors {
    flex-basis: 33.333%; /* Selectoren nemen 1/3 van de breedte in */
  }

  .map {
    flex-basis: 66.666%; /* Kaart neemt 2/3 van de breedte in */
    height: auto; /* Hoogte past zich aan de inhoud aan */
  }
}

#generated-url-container {
  margin-top: 20px;
}

#generated-url {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: none; /* Geen rand voor de URL */
  background: none; /* Geen achtergrond voor de URL */
  color: #555; /* Kleur van de URL tekst */
}

/* Extra stijlen voor verticale uitlijning van de checkboxes */
.selector-group h3 {
  margin-top: 0;
}

.selector-group label {
  display: flex;
  align-items: center;
}

.selector-group input[type="checkbox"] {
  margin-right: 5px;
}
