
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - 40px); /* Adjusting height to allow for URL display */
}

.selectors {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling for overflow content */
}

.map {
  flex: 2;
  padding: 20px;
}

#map-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#generated-url-container {
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7; /* Light grey background for the URL container */
}

#generated-url {
  white-space: pre-wrap; /* Ensures the full URL is visible */
}
