body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1; /* Zorgt ervoor dat de .content container de ruimte opvult */
}

.selectors {
  display: flex;
  flex-direction: column; /* Selectoren onder elkaar */
  padding: 20px;
  width: 33.333%; /* 1/3 van de breedte */
}

.selector-group {
  margin-bottom: 10px;
}

.map {
  flex-grow: 2; /* De kaart neemt de resterende ruimte in */
  padding: 20px;
}

#map-frame {
  width: 100%;
  height: calc(100vh - 40px); /* Aftrekken van de padding */
  border: none;
}

#generated-url-container {
  padding: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .selectors, .map {
    width: 100%;
  }

  #map-frame {
    height: 400px; /* Een vaste hoogte voor kleinere schermen */
  }
}
