@font-face {
    font-family: 'AvenirBlack';
    src: url('https://obanext.github.io/zandbak/Avenir%20Black.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLight';
    src: url('https://obanext.github.io/zandbak/Avenir%20Light.ttf') format('truetype');
}

body {
    font-family: 'AvenirBlack', 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #9b43fb;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    position: absolute; /* or 'fixed' if you want it to stay in place on scroll */
    top: 0;
    right: 0;
    margin: 20px; /* Adjust as needed for spacing from the corner */
}

nav a {
    font-family: 'AvenirLight', 'Arial', sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#qr-scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qr-reader {
    max-width: 300px;
    width: 100%;
    height: auto;
    min-height: 310px;
    margin: auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0275d8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.object-list-container {
    display: flex;
    flex-direction: column;
}

.object-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}
