@font-face {
    font-family: 'AvenirBlack';
    src: url('https://obanext.github.io/zandbak/Avenir%20Black.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirLight';
    src: url('https://obanext.github.io/zandbak/Avenir%20Light.ttf') format('truetype');
}

body {
    font-family: 'AvenirBlack', 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #9b43fb;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

nav a {
    font-family: 'AvenirLight', 'Arial', sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#object-toevoegen,
#search-and-filter,
#object-lijst {
    text-align: left;
}

#search-and-filter .search-fields-container,
#search-and-filter .search-buttons {
    margin-bottom: 10px;
}

#search-and-filter .search-field,
#search-and-filter .status-filter {
    margin-bottom: 10px;
}

#search-and-filter .search-buttons {
    display: flex;
    gap: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#object-toevoegen form {
    
}

#object-toevoegen button {
    display: block; 
    width: auto; 
    margin: 10px 0; 
}

#object-toevoegen label,
#object-toevoegen input {
    display: block; 
    margin-bottom: 5px; 
}	
}

#object-lijst .object-list-container {
    display: flex;
    flex-direction: column;
}

#object-lijst .object-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}

button,
.custom-file-upload {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #9b43fb;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'AvenirBlack', 'Arial', sans-serif;
}

button:hover,
.custom-file-upload:hover {
    background-color: #0056b3;
}

#scan-result {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    padding: 10px;
    background-color: #333;
}
#placeholder-image {
  max-width: 100%; 
  max-height: 300px; 
  display: block; 
  cursor: pointer; 
  object-fit: contain; 
}
