body {
    font-family: courier, Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

#results-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.results-section {
    position: relative;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.more-link {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
}

#method-1, #method-2, #facets {
    width: 45%;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#facets {
    width: 10%; /* Aanpassen aan de gewenste breedte voor de facetten container */
    margin-right: 10px;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.result-item img {
    margin-right: 10px;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px 10px 10px 0;
}
